body {
  padding-left: 10px;
  font-family: Verdana;
  background-color: rgb(53, 53, 63);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #845e9d;
  font-size: 50px;
  text-shadow: -5px 5px 0 rgb(38, 38, 48);
}

li {
  position: relative;
  width: 500px;
  height: 20px;

  margin-left: -40px;

  background-color: rgb(116, 72, 116);
  padding-top: 5px;
  padding-block-end: 5px;
  padding-left: 10px;
  margin-bottom: 8px;
  list-style: none;

  border-style: solid;
  border-top-color: rgb(151, 104, 151);
  border-top-width: 2px;
  border-right-color: rgb(151, 104, 151);
  border-right-width: 2px;

  border-left-width: 0;
  border-bottom-width: 0;

  border-radius: 8px;
  box-shadow: -5px 5px 0 rgb(38, 38, 48);
}
.botao_remover {
  position: absolute;
  background-color: rgb(151, 104, 151);
  right: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-radius: 5px;
  border: none;
  box-shadow: -4px 3px 0 rgb(99, 59, 99);
}
.botao_remover:hover:active {
  background-color: red;
}

#entrada {
  position: relative;
  height: 60px;
  width: 500px;

  padding-left: 10px;
  padding-top: 10px;

  background-color: rgb(116, 72, 116);

  border-style: solid;
  border-top-color: rgb(151, 104, 151);
  border-top-width: 2px;
  border-right-color: rgb(151, 104, 151);
  border-right-width: 2px;

  border-left-width: 0;
  border-bottom-width: 0;

  box-shadow: -8px 8px 0 rgb(38, 38, 48);
  border-radius: 8px;
}

::placeholder {
  color: black;
  text-align: center;
}

#textoDigitado {
  height: 60%;
  width: 50%;

  border-style: none;
  border-radius: 10px;
  background-color: rgb(99, 59, 99);
}

#botaoAdicionar {
  position: absolute;

  color: black;
  height: 50%;
  width: 30%;

  border-style: none;
  border-radius: 8px;

  right: 10px;

  background-color: rgb(151, 104, 151);
}
#botaoAdicionar:hover:active {
  background-color: rgb(99, 59, 99);
}
